<a href="https://colab.research.google.com/github/Angel-Arroyo-H/alura-data-science-challenge-3/blob/main/Alura_DataScience_Challenge3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extração de dados
Faremos a extração diretamente do repositorio do projeto.

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/Angel-Arroyo-H/alura-data-science-challenge-3/refs/heads/main/dados/dados_tratados.csv'
dados = pd.read_csv(url)

# Preparação dos dados
Os dados não apresentam colunas irrelevantes.

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   churn                    7032 non-null   bool
 1   cliente_idoso            7032 non-null   bool
 2   cliente_tem_parceiro     7032 non-null   bool
 3   cliente_tem_dependentes  7032 non-null   bool
 4   meses_contrato           7032 non-null   int64
 5   servico_telefonico       7032 non-null   bool
 6   multiplas_linhas         7032 non-null   object
 7   assinatura_internet      7032 non-null   object
 8   seguranca_online         7032 non-null   object
 9   backup_online            7032 non-null   object
 10  protecao_dispositivo     7032 non-null   object
 11  suporte_tecnico          7032 non-null   object
 12  tv_a_cabo                7032 non-null   object
 13  streaming_filmes         7032 non-null   object
 14  contrato                 7032 non-null   object
 15  fatura_online            7032 non-null   bool
 16  forma_pagamento          7032 non-null   object
 17  faturamento_mensal       7032 non-null   float64
 18  faturamento_total        7032 non-null   float64
 19  cliente_masculino        7032 non-null   bool
 20  contas_diarias           7032 non-null   float64
dtypes: bool(7), float64(3), int64(1), object(10)
memory usage: 817.3+ KB

## Encoding
Variáveis categóricas que em formato de texto não podem ser utilizadas diretamente nos modelos de Machine Learning. Nesta parte do desafio, informaremos quais são as variáveis explicativas e qual é a variável alvo e transformaremos as variáveis categóricas para formato numérico usando o OneHotEncoder, utilizando o parâmetro drop='if_binary' caso alguma variável tenha apenas 2 categorias.

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
y = dados['churn']
x = dados.drop(['churn'],axis=1)